$small: 500px;
$font : 'Sofia', sans-serif;

.videoTextContainer{
    display: flex;
    justify-content: center;
    background-color: rgb(66, 66, 66);
}
.videoText {
    position: absolute;
    top: 260px;
    text-align: center;
    width: 800px;
    font-weight: 600;
    font-size: 24px;
    color: rgb(248, 248, 248);
    background-color: rgb(148, 137, 137);
    opacity: .85;
    border-radius: 15px;
    margin: 50px;
    @media screen and (max-width: $small) {
        padding: 3px;
        margin: 0px 20px 50px 20px;
        width: 300px;
        position: relative;
        top: 20px;
        font-size: 20px;
    }
}

.full-calendar {
    background-color: #F0F0F0;
    padding: 10px;
    margin: 40px 40px 100px 40px;
    border-radius: 10px;
    color: #0A4870;
    flex-wrap: wrap;
    @media screen and (max-width: $small) {
        padding: 3px;
        margin: 0px 20px 50px 20px;
    }


    .num-of-kayaks-on-that-day {
        font-weight: 700;
        color: #327eb1;
    }

    .top-half-calendar{

        display: flex;
        margin-bottom: 10px;
        justify-content: center;
        flex-wrap: wrap;

        
        .selection-footer{
            flex-grow: 1; 
            width: 200px;
            justify-content: center;
            text-align: center;

            .info-text-header {
                color: #0a4870;
                margin-top: 30px;
                font-weight: 500;
                font-size: 30px;
            }
            .info-text-header-2 {
                flex-direction: column;
                font-size: 16px;
            }

            .parent {
                display:flex;
                justify-content: center;

                .info-text-header-underline {
                    background-color: #0a4870;
                    height: 2px;
                    width: 30px;
                    font-size: 0px;
                    margin-bottom: 10px;
                    margin-top: 5px;
                    
                }
            }

            .info-text {
                // text-transform: uppercase;
                background-color: #ffffff;
                font-weight: 900;
                color:  #ec992c;
                border-radius: 10px;
                padding: 10px;
                margin: 20px;
                .cal-b-text {
                    font-weight: 500;
                    font-size: 16px;
                }
            }

        }
        .direction-buttons {
            display: flex;
            justify-content: center;
            .arrow {
                text-transform: uppercase;
                padding: 10px;
                margin: 10px;
                border: solid 3px#0a4870;
                border-radius: 5px;
                &:hover {
                    background-color: white;
                    border: rgb(255, 255, 255) solid 3px;
                    color: #2470a3;
                    cursor: pointer;
                }
            }
        }
        .calendar {
            flex-grow: 8;
            width: 500px;
        }
    }

    .legend {
        display: flex;
        justify-content: center;
        font-size: 12px;
        font-weight: 700;
        flex-wrap: wrap;
        .avalible {
            color:  rgb(113, 235, 129);
        }
        .unavalible {
            color:  rgb(243, 102, 92);
        }
        .l-item {
            margin: 3px;
            border-radius: 5px;
            width: 15px;
            height: 15px;
        }
    }

    .guide {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .direction-buttons {
        display: flex;
        justify-content: center;
        .arrow {
            text-transform: uppercase;
            padding: 10px;
            margin: 10px;
            border: solid 3px#0a4870;
            border-radius: 5px;
            &:hover {
                background-color: white;
                border: rgb(255, 255, 255) solid 3px;
                color: #2470a3;
                cursor: pointer;
            }
        }
    }

    font-family: $font;
}


.form {
    background-color: #F0F0F0;
    padding: 20px;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: $small) {
        margin-left: 10px;
        margin-right: 10px;
    }

    .info-form {
        color: #0a4870;
        font-weight: 500;
        font-size: 30px;
    }
    
    .header-form {

        margin-bottom: 10px;
    }
    .form-body-top {
        display: flex;

    }
    .form-body-middle {
        display: flex;

    }
    .form-body-bottom {
        display: flex;

    }
}
.nav-buttons {
    display: flex;
    .arrow {
        text-transform: uppercase;
        padding: 10px;
        margin: 10px;
        border: solid 3px#0a4870;
        border-radius: 5px;
        &:hover {
            background-color: white;
            border: rgb(255, 255, 255) solid 3px;
            color: #2470a3;
            cursor: pointer;
        }
    }
}

.pay {
    background-color: #F0F0F0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 5% 30% 10% 30% ;
    padding: 10px;
    @media screen and (max-width: $small) {
        margin-left: 0px;
        margin-right: 0px;
    }

    .info-form {
        color: #0a4870;
        font-weight: 500;
        font-size: 30px;
    }
    .header-form {
        color: #0a4870;
        margin-top: 16px;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
    }
    .pay-review {
        justify-content: center;
        text-align: center;
        .email {
            font-style: italic;
            padding-left: 5px;
        }
    }
    font-family: $font;
}

.success {

    margin: 10% 30% 20% 30%;
    @media screen and (max-width: $small) {
        margin-left: 10px;
        margin-right: 10px;
    }
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}


.water-shed-table {
    @media screen and (max-width: $small) {
        font-size: 10px;
    }
}
.watershed-img {
    width: 420px;
    @media screen and (max-width: $small) {
        width: 300px;
    }
}
.wildlife-table {
    width: 420px;
    @media screen and (max-width: $small) {
        width: 300px;
    }
    .wildlife-img {
        @media screen and (max-width: $small) {
            width: 50px;
        } 
    }
}

.waiver {
    background-image: url('./background.jpg');
    background-position: center;
    padding-top: 30px;
    padding-bottom: 10px;

    .waiver-container-rivers {
        background-color: #F0F0F0;
        padding: 20px;
    }

    ul {
        display: block;
        list-style-type: disc;
        padding-left: 30px;
    }
    
    .waiver-container {
        background-color: #F0F0F0;
        padding: 20px;
        height: 600px;
        overflow: scroll;

        .waiver-title {
            text-align: center;
        }

        .waiver-form {
            display: flex;
            flex-direction: column;
            text-align: center;
            .input {
                margin-right: 10px;
                margin-bottom: 10px;
            }
            button {
                margin-left: 10px;
                background-color: #633333;
                border: none;
            }
        }
    }
}


.info-img {
    height: 600px;
    @media screen and (max-width: $small) {
        height: 200px;
    }
}
.carousel-caption {
    @media screen and (max-width: $small) {
        display: none;
    }
}

.river-title {
    padding-top: 20px;
    padding-left: 20px;
}


.river-info{
    display: flex;
    flex-wrap: wrap;

    .river-text {
        width: 700px;
        padding-left: 20px;
        h5 {
            color:  #0a4870;
            font-weight: 600;
            padding-left: 20px;
        }
        h6 {
            text-align: right;
            padding-right: 40px;
            font-style: italic;
        }
    }
    .river-img {
        @media screen and (max-width: $small) {
            width: 280px;
        }
    }
}





.date {
    padding-left: 14px;
    padding-right: 14px;
}
//calenday avalible
.red {
    font-weight: 900;
    text-decoration: underline;
    background-color: #1890e0;
}

.daybooked {
    background-color: tomato;
}

.before {
    background-color: rgb(219, 219, 219);
}

.today {
    background-color: chartreuse;
}

.ref-header {
    text-align: center;
}

.ref {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: solid 2px rgb(255, 252, 252);
    border-bottom: solid 2px rgb(255, 255, 255);
}



.kayaks-0 {
    background-color: rgb(243, 102, 92);
    text-align: center;
    color: white;
}

.kayaks-2 {
    background-color: rgb(219, 161, 75);
    text-align: center;
    color: white;
}

.kayaks-4 {
    background-color: rgb(218, 195, 97);
    text-align: center;
    color: white;
}
.kayaks-6 {
    background-color: rgb(199, 236, 95);
    text-align: center;
    color: white;
}
.kayaks-8 {
    background-color: rgb(113, 235, 129);
    text-align: center;
    color: white;
}

.guide-no {
    display: none
}

.color-change {
    color: rgb(255, 144, 144);
}


.RoutesList {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url('https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;
}

.no-hover{
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}